<!DOCTYPE html>
<html
  lang="en"
  xmlns="www.thymeleaf.org"
  th:replace="base::Layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <section
      class="home-section d-flex justify-content-center align-item-center"
    >
      <div class="text-center text-white">
        <h1 class="fw-bold">Welcome to <br />Smart Contact Manager</h1>
        <p>
          We provide smartly solution to save your contact and access it from
          anywhere.
        </p>
        <button type="button" class="btn btn-primary">Get Started</button>
      </div>
    </section>
  </body>
</html>
