<!DOCTYPE html>
<html
  lang="en"
  xmlns="www.thymeleaf.org"
  th:replace="base::Layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
  </head>
  <body>
    <section class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="register-card mt-3 rounded">
              <!-- Alert Message -->
              <div
                th:if="${session.message}"
                th:classappend="${session.message.type}"
                class="alert"
                role="alert"
              >
                <p class="text-center" th:text="${session.message.content}"></p>
                <!-- <th:block
                  th:text="${#session.removeAttribute('message')}"
                ></th:block> -->
              </div>
              <!-- Form Data -->
              <div class="container text-center">
                <img
                  th:src="@{/images/form.png}"
                  alt="Membership form Icon"
                  width="80"
                />
              </div>
              <h1 class="text-center">Register Here</h1>
              <form
                th:action="@{/do_register}"
                method="post"
                th:object="${user}"
              >
                <!-- Name Feild -->
                <div class="mb-3">
                  <label for="name_feild" class="form-label">Enter Name</label>
                  <input
                    name="name"
                    th:value="${user.name}"
                    type="text"
                    required
                    placeholder="Enter Here"
                    class="form-control"
                    id="name_feild"
                    aria-describedby="nameHelp"
                  />
                </div>
                <!-- Email Feild -->
                <div class="mb-3">
                  <label for="email_feild" class="form-label"
                    >Enter Email</label
                  >
                  <input
                    name="email"
                    type="email"
                    th:value="${user.email}"
                    required
                    placeholder="Enter Here"
                    class="form-control"
                    id="email_feild"
                    aria-describedby="emailHelp"
                  />
                </div>
                <!-- Password Feild -->
                <div class="mb-3">
                  <label for="password_feild" class="form-label"
                    >Enter Password</label
                  >
                  <input
                    name="password"
                    type="password"
                    required
                    placeholder="Enter Here"
                    class="form-control"
                    id="password_feild"
                    aria-describedby="emailHelp"
                  />
                </div>
                <!-- Texarea Feild -->
                <div class="mb-3">
                  <textarea
                    name="about"
                    rows="5"
                    th:value="${user.about}"
                    class="form-control"
                    placeholder="Write something about yourself"
                  ></textarea>
                </div>
                <!-- agreement of terms and condition -->
                <div class="form-check">
                  <input
                    name="agreement"
                    class="form-check-input"
                    type="checkbox"
                    id="agreement"
                  />
                  <label class="form-check-label" for="agreement">
                    Accept our Terms & Conditions
                  </label>
                </div>
                <div class="container text-center">
                  <button type="reset" class="btn btn-danger">Reset</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
